body{
	background: #F3F4F6;
}

.bg-m-blue {
    background: linear-gradient(90deg, #06b6d4 0%, #3b82f6 100%);
}
.bg-m-blue:hover {
	background: linear-gradient(90deg, #3b82f6 0%, #06b6d4 100%);
  }

.bg-m-green {
    background: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
.bg-m-green:hover {
    background: linear-gradient(90deg, #008552 0%, #9ebd13 100%);
}

.bg-m-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-m-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}

.btn-m{
	border: none;
	border-radius: 5px;
	color: #fff !important;
	padding: 5px 15px;
	height: 40px;
}

.btn-m.bg-m-blue:hover {
	background: linear-gradient(90deg, #3b82f6 0%, #06b6d4 100%);
	color: #fff;
}

.no-p {
	padding: 0;
}

.m-sign {
	background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
	margin: 50px auto;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.img-r {
	border-radius: 20px 0 0 20px;
}
#myTab {
	background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
	margin: 0 auto;
	max-width: 570px;
}

.nav-item {
	width: 50%;
}

.nav-item button{
	width: 100%;
	border-radius: 0 !important;
}
.fas {
	font-weight: 900;
	color: #0D6EFD;
}
